home/.config/sublime-text-3/Cache/*
home/.config/sublime-text-3/Cache
home/.config/sublime-text-3/Index/*
home/.config/sublime-text-3/Index
home/.config/sublime-text-3/Local/*
home/.config/sublime-text-3/Local
