[user]
  name = Karl Wilbur
  email = karl@kandrsoftware.com
  signingkey = 5478074D89CEBC74
[branch]
  autosetupmerge = always
[giggle]
  main-window-maximized = true
  main-window-geometry = 0x0+0+0
  main-window-view = FileView
  file-view-hpane-position = 383
  history-view-vpane-position = 674
  file-view-vpane-position = 1094
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = vi
  excludesfile = /home/karl/.gitignore
  autocrlf = false
  mergeoptions = --no-edit
[diff]
  tool = meld
  guitool = meld
[merge]
  tool = meld
  log = true
  ff = false
[gui]
  wmstate = normal
[alias]
  st = status
  ci = commit
  co = checkout
  cp = cherry-pick
  br = branch
  up = pull --rebase
  mg = merge
  pr = !hub pull-request
  meld = !git-meld
  fucked = !git reset HEAD --hard && git clean -f && git status
  local-branches = !git branch -vv | cut -c 3- | awk '$3 !~/\\[/ { print $1 }'
  prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
  prune-tags = !git tag -d $(git tag) && git fetch --tags
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  rs = remote show
  rso = remote show origin
  stash-all = stash save --include-untracked
  create = create -p
  iso-date = "!git show $1 | grep 'Date' | awk '{$1=\"\"; print $0;}' | xargs php -r 'echo date(\"c\", strtotime(join(array_slice($argv, 2), \" \")));'"
  datetime = "!git iso-date $1 | xargs date \"+%Y%m%d%H%I%S\" -d"
  tag-with-datetime = "!git tag $(git iso-date $1 | xargs date \"+%Y%m%d%H%I%S\" -d)"
[rerere]
  enabled = true
[push]
  default = current
[gpg]
  program = gpg
[commit]
  gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
